* {
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
body{
	
	margin: 0;
	padding-top: 0;
	background: url(../images/croquettes.jpg);
	background-size: cover;
	background-position-y: bottom;
	min-height: 100%;
	padding-bottom: 6.3rem;
	
	
}

#logoG{

	width: 6%;
	height: 6%;
}
.navbar{

	font-size: 1rem;
	
}
.bouton{

	color: black;
}
.footer {
	padding-top: 1em;
	padding-left: 1em;
	position: absolute; 
	bottom: 0; 
	left: 0; 
	right: 0;
	width: 100%;
	background-color: #2d5986;
	color: white;
	height: 4.3em;
	
}

.footer a{
	color: #fff;
}
@media screen and (max-width: 768px){

	#logoG{

	display: none;
	}

}

