body{
	margin: 0;
	padding: 0;
	
    background: url(../images/chien.jpg);
    background-size: cover;
       
}

nav{
	width: 100%;
	background-color: #2d5986;
    
}
nav a{
    color: #fff;  
   
}
nav a:hover{
    color: #fff;  
   
}
#chat{
    display: flex;
}
.avatar {
    width: 140px;
    height: 140px;
    /*border-radius: 50%;
    position: absolute;
    top: -20px;*/
    left: calc(50% - 50px);
}

.login-box {
    width: 40em;
    /*320*/
    height: 30em;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -60%);
    box-sizing: border-box;
    padding: 2em 4em;
    margin-top: 3rem;
}

h3 {
    text-align: center;
    padding-top: 3.1rem;
    padding-left: 3rem;
    
    
}

.btn {
    margin: 2em auto;
}

p {
    font-weight: bold;
    padding-top: 10px;

}


login-box input {
    width: 100%;
}

.login-box input[type="text"],
input[type="password"] {
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 1em;
    color: #fff;
    font-size: 1em;
    width: 100%;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    background: #33f3ff;
    color: black;
    font-size: 1.1em;
    font-weight: bold;
    width: 100%;
    border-radius: 1.2em;

}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #2869db;
    color: #fff;

}


